/* * {
  border: solid red 1px;
} */


#header_bar {
  background-color: rgba(245, 222, 179, 0.4);
  width: 100%;
  height: 50px;
  padding: 10px;
  top: 0px;
  left: 0px;
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(7px);
  box-shadow: 1px 1px 25px 10px rgba(0,0,0,0.8);
  transition: width 1s;
}

#header_bar.animate_close {
  width: 230px;
}

#header_bar a {
  text-decoration: none;
  font-family: fantasy;
  color: #663b24;
  font-size: 1.2em;
  font-weight: bold;
  float: left;
  pointer-events: none;

}

nav ul {
  display: block;
  float: right;
  margin: 0 5px;
  padding-right: 10px;
}

nav ul li {
  display: block;
  float: left;
  margin: 0 5px;
}
nav ul li:hover {
  background-color: #663b24;
  color: rgb(245, 222, 179);
}

#coffee_table_view {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -69;
  background: url("../images/bg_type_1.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
}

body {
  box-sizing: border-box;
}

.field_with_errors {
  border: solid 1px red;
}

#popupMenu {
  z-index: 69;
  background-color: rgba(245, 222, 179, 0.4);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(7px);
}

#popupMenu div {
  margin: auto;
  margin-top: 10%;
  position: relative;
  height: 300px;
  width: 35%;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 25px 10px rgba(0,0,0,0.8);
}

#popupMenu div h1 {
  content: "Make an account!";
  font-family: fantasy;
  color: #663b24;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.popupCloseButton {
  border-radius: 100px;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 1.4em;
  background-color: darkred;
  color: whitesmoke;
}

/* CoffeeTable View and Elements */
#coffee_table_view #edit_button {
  position: absolute;
  top: 10px;
  right: 10px;
}

#coffee_table_view #new_element_button {
  position: absolute;
  top: 10px;
  right: 200px;
}

.element {
  position: absolute;
  padding: 10px;
}

.edit_bar {
  padding: 0px;
  position: absolute;
  top: -20px;
  left: 0px;
  height: 20px;
  width: 100%;
  cursor: grab;
  background-color: rgba(245, 222, 179, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(7px);
}
.edit_bar button {
  font-size: 0.7em;
}
